<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Codigo usuário</mat-label>
    <input matInput placeholder="999999" value="999999">
    <textarea matInput placeholder="Informe o código do usuário ex: 0001"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Codigo enquete</mat-label>
    <textarea matInput placeholder="Informe o código da enquete ex: 0001"></textarea>
  </mat-form-field>

  <h4>Selecione uma das opções abaixo</h4>
  <mat-form-field appearance="fill">
    <mat-label>Opções</mat-label>
    <mat-select [(value)]="topicos">
      <mat-option></mat-option>
      <mat-option [value]="option.opcao" *ngFor="let option of topicos">{{option.opcao}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>You selected: {{topicos}}</p>
</form>