<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon" style="padding: 20px;">verified_user</mat-icon>
      <button mat-raised-button color="primary">{{nameButton}} </button>
    </mat-toolbar-row>
</mat-toolbar>
<label for="{{opcoes[1]}}">{{opcoes[1]}}</label>
<input type="radio" name="{{opcoes[1]}}" id="teste">

<label for="{{opcoes[0]}}">{{opcoes[0]}}</label>
<input type="radio" name="{{opcoes[0]}}" id="teste">
<p>{{opcoes}}</p>
<app-card [nome]="title"></app-card>
<span>Utilizando valor dentro do scope da home</span>