body,p,div{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
font-size: medium;    
}

div{
     margin: 25px;
    padding: 10px;
    width: auto;
    height: 30vh;
    background-color: rgb(5, 50, 56);

}

